
root {
	-fx-background-color: black;
}

.text {
	
}

.anchor {
	-fx-background-color: black;
}



/*BUTTONS*/

.button {
	-fx-background-color: black;
	-fx-text-fill: white;
}

.mainButton {
	-fx-background-color: black;

}



/*COMBO BOX*/

.combo-box {
	-fx-background-color: black;
	-fx-text-fill: white;
}

.combo-box .list-cell {
	-fx-background-color: black;
	-fx-text-fill: white;
}



/*SLIDER*/

.slider > .thumb {
	-fx-background-color: black;
}

.slider > .track {
	-fx-background-color: white;
	-fx-border-color: black;
}



/*TEXT FIELD AND TEXT AREA*/

.text-field {
	-fx-border-color: black;
}

.text-area {
	-fx-border-color: black;
}



/*SCROLL BAR (FOR TEXT AREA)*/

.scroll-bar:vertical > .thumb {
	-fx-background-color: black;
}



/*TABLE*/

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
}

.table-view .column-header-background {
}

.table-view .column-header, .table-view .filler {
}

.table-view .column-header .label {
    -fx-text-fill: white;
}

.table-row-cell:even {
	-fx-background-color: #444444;
}

.table-row-cell:selected {
	-fx-background-color: #BBBBBB;
}
