/*BUTTONS*/

.root {
	-fx-component-bg-color: #cec8e4;
	-fx-component-text-color: white;
}

.anchor {
	-fx-background-color: linear-gradient(#a6c1ee, #fbc2eb);
}

.button {
	-fx-background-color: -fx-component-bg-color;
	-fx-text-fill: -fx-component-text-color;
}

.mainButton {
	-fx-background-color: -fx-component-bg-color;

}

.themeButton {
	-fx-border-color: #cec8e4;
}

.logo {
	-fx-image: url("/wikispeak/resources/varpedia-logo-light.png");
}

/*COMBO BOX*/

.combo-box {
	-fx-background-color: -fx-component-bg-color;
	-fx-text-fill: -fx-component-text-color;
}

.combo-box .list-cell {
	-fx-background-color: -fx-component-bg-color;
	-fx-text-fill: -fx-component-text-color;
}



/*SLIDER*/

.slider > .thumb {
	-fx-background-color: -fx-component-bg-color;
}

.slider > .track {
	-fx-background-color: -fx-component-text-color;
	-fx-border-color: -fx-component-bg-color;
}



/*TEXT FIELD AND TEXT AREA*/

.text-field {
	-fx-border-color: -fx-component-bg-color;
}

.text-area {
	-fx-border-color: -fx-component-bg-color;
}



/*TEXT BOX*/

.text-box {
	-fx-fill: -fx-component-bg-color;
}



/*SCROLL BAR (FOR TEXT AREA)*/

.scroll-bar:vertical > .thumb {
	-fx-background-color: -fx-component-bg-color;
}



/*TABLE*/

.table-view {
    -fx-base: -fx-component-bg-color;
    -fx-control-inner-background: -fx-component-bg-color;
    -fx-background-color: -fx-component-bg-color;
}

.table-view .column-header-background {
}

.table-view .column-header, .table-view .filler {
}

.table-view .column-header .label {
    -fx-text-fill: -fx-component-text-color;
}

.table-row-cell:even {
	-fx-background-color: derive(-fx-component-bg-color, 60%);
}

.table-row-cell:selected {
	-fx-background-color: #444444;
}



/*LIST VIEW*/

.list-view {
	-fx-border-color: -fx-component-bg-color;
	-fx-text-fill: -fx-component-bg-color;
}

.list-cell:selected {
	-fx-background-color: -fx-component-bg-color;
}
