
@font-face {
	font-family: RobotoTitle;
	src: url('/wikispeak/style/Roboto-Bold.ttf');
}

@font-face {
	font-family: Roboto;
	src: url('/wikispeak/style/Roboto-Regular.ttf');
}
root {
	-fx-font-family: Roboto;
}

.text {
	-fx-font-family: Roboto;
}

.title {
	-fx-font-family: Roboto;
	-fx-font-weight: bold;
}


/*BUTTONS*/

.button {
	-fx-font-family: Roboto;
	-fx-font-size: 22;
	-fx-border-width: 2;
}

.mainButton {
	-fx-font-size: 30;

}

.themeButton {
	-fx-background-radius: 0;
	-fx-border-width: 4;
	-fx-font-size: 45;
	-fx-font-family: Roboto;
	-fx-font-weight: bold;
}



/*COMBO BOX*/

.combo-box {
	-fx-font-size: 22;
	-fx-border-width: 2;
}

.combo-box .list-cell {
	-fx-font-family: Roboto;
}



/*SLIDER*/

.slider > .thumb {
}

.slider > .track {
	-fx-background-radius: 5;
	-fx-border-radius: 5;
}



/*TEXT FIELD AND TEXT AREA*/

.text-field {
	-fx-border-width: 2;
}

.text-area {
	-fx-border-width: 2;
}



/*SCROLL BAR (FOR TEXT AREA)*/

.scroll-bar:vertical > .thumb {
}



/*TABLE*/

.table-view {
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-border-width: 2;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 15pt;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-row-cell:even {
}

.table-row-cell:selected {
}



/*LIST VIEW*/

.list-view {
	-fx-border-width: 2;
}
