@font-face {
	font-family: Roboto;
	src: url('Roboto-Regular.ttf');
}

root {
	-fx-font-family: Roboto;
}

.text {
	-fx-font-family: Roboto;
}

.background {
	-fx-background-color: white;
}



/*BUTTONS*/

.button {
	-fx-background-color: black;
	-fx-font-family: Roboto;
	-fx-font-size: 22;
	-fx-text-fill: white;
}

.mainButton {
	-fx-background-color: black;
	-fx-font-size: 30;

}



/*COMBO BOX*/

.combo-box {
	-fx-background-color: black;
	-fx-font-size: 22;
	-fx-text-fill: white;
}

.combo-box .list-cell {
	-fx-font-family: Roboto;
	-fx-background-color: black;
	-fx-text-fill: white;
}



/*SLIDER*/

.slider > .thumb {
	-fx-background-color: black;
}

.slider > .track {
	-fx-background-color: white;
	-fx-border-color: black;
	-fx-background-radius: 5;
	-fx-border-radius: 5;
}



/*TEXT FIELD AND TEXT AREA*/

.text-field {
	-fx-border-color: black;
	-fx-border-width: 2;
}

.text-area {
	-fx-border-color: black;
	-fx-border-width: 2;
}



/*SCROLL BAR (FOR TEXT AREA)*/

.scroll-bar:vertical > .thumb {
	-fx-background-color: black;
}



/*TABLE*/

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 15pt;
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

